<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <!-- Using ngfor to iterate through the shopping list and displaying the data through string interpolation
       *Editing item on click.  -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients ; let ind = index"
        (click)="onEditItem(ind)">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
