<!--
1. ** String interpolation is used to print the name and description.
   ** Property binding is used to bind the disabled property with the image.
-->
<!--
2. ** We will add a click listener to the anchor tag so that when user clicks on the receipe name
   ** recipe detail is shown on the right.
-->
<a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
