<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email" >Email</label>
        <input type="text"
               id="email"
               name="email" ngModel
               class="form-control"
               required
               email
               #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password" >Password</label>
        <input type="text"
               id="password"
               name="password"
               ngModel
               class="form-control"
               required
               ng-minlength="6"
               #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched ">Password should be atleast 6 character long!</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Signin</button>
    </form>
  </div>
</div>



